body {
  background-color: rgb(46, 100, 150);
}

.App {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Header {
  font-size: 400%;
  font-weight: 600;
  margin-top: 10%;
}

.Body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 13%;
  padding-top: 1%;
}

.Input {
  font-size: 125%;
  padding: 2%;
}

.Special-Input {
  font-size: 125%;
  padding: 2%;
  width: 94.5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Radius {
  border-radius: 10%;
}
